{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}New Musician{% endblock %}

{% block body %}

    <h1>Create new musician</h1>

    {{ include('admin/musician/_form.html.twig') }}

    <a href="{{ path('musician_index') }}">back to list</a>

{% endblock %}
