{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}

    <h1 class="text-center">
        <i class="fa fa-calendar-alt" aria-hidden="true"></i>
        Edit Event | <strong>{{ event.name }}</strong>
    </h1>

    {{ include('admin/event/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
