{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}

    <h1 class="text-center">
        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
        Add Event
    </h1>

    {{ include('admin/event/_form.html.twig') }}

{% endblock %}
