<!-- Navbar fixed bottom start -->
<nav class="navbar navbar-fixed-bottom justify-content-center">
    <span class="navbar-text">
        &copy; 2020 |<strong class="pl-5">Eventzone</strong>
    </span>
</nav>
<!-- Navbar fixed bottom end -->
