<!-- Navbar fixed bottom start -->
<nav class="navbar navbar-fixed-bottom justify-content-center">
    <span class="navbar-text">
        &copy; Copyright 2020
    </span>
</nav>
<!-- Navbar fixed bottom end -->