
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea
.idea
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/img/events/*
/public/img/musicians/*
/public/img/venues/*
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
