#particles-js{

}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#logo-container{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

#logo{
    width: 80rem;
    padding-bottom: 10rem;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#delete-submit {
    padding: 0;
    margin: 0;
    background-color: #ff4d4f;
    border: none;
    width: 100%;
    height: 100%;
}

.description {
    width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.long-description {
    word-wrap:break-word;
}

.table-image {
    max-height: 10rem;
}

#search input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}
#search input[type=search]:hover {
    background-color: #fff;
}
#search input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#search input:-moz-placeholder {
    color: transparent;
}
#search input::-webkit-input-placeholder {
    color: transparent;
}