#particles-js{

}

#particles-js canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#logo-container{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

#logo{
    width: 80rem;
    padding-bottom: 10rem;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#delete-submit {
    padding: 0;
    margin: 0;
    background-color: #ff4d4f;
    border: none;
    width: 100%;
    height: 100%;
}