{% extends 'admin/dashboard/base.html.twig' %}

{% block title %}New Admin{% endblock %}

{% block body %}

    <h1 class="text-center text-event">
        <i class="fas fa-user-shield" aria-hidden="true"></i>
        Add Admin
    </h1>

    {{ include('admin/_form.html.twig') }}

{% endblock %}
