{% extends 'dashboard/base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

<h3>User List</h3>

<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>

    {% for user in users %}
        <tr>
            <th>{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">No records found</td>
        </tr>
    {% endfor %}
    <tr>

    </tbody>
</table>

{% endblock %}
